html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

html {
    background-color: #F9F9F9;
}

body {
    background-color: #FFFFFF;
    font-weight: 400;
    color: #000000;
    position: relative;
    padding-top: 70vh;
}


/*
    ==================
    Text & Link Styles
    ==================
*/
p {
    font-size: 18px;
    line-height: 36px;
    color: #9B9B9B;
}

strong {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 36px;
    line-height: 52px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}


/*
    ===========
    List Styles
    ===========
*/
li {
    padding: 40px 0;
}

li:last-child {
    padding: 40px 0 0;
}


/*
    ================
    Header & Buttons
    ================
*/
header {
    background-color: #F9F9F9;
    height: 70vh;
    width: 100vw;
    position: absolute;
    transform: translateY(-60px);
    top: 60px;
    left: 0;
    text-align: center;
}

header .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    font-size: 144px;
    line-height: 144px;
    text-align: center;
}

.button-container {
    margin-top: 50px;
}

.button {
    width: 170px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
}

.button.button-browse {
    margin-right: 30px;
}

.button.button-add {
    background-color: #F8E71C;
    border-color: #F8E71C;
}

.button:hover, .button.button-add:hover {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
    -webkit-transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*
    Smaller Header
*/
header.smaller {
    position: fixed;
    height: 60px;
    transform: translateY(0px);
    top: 0;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    animation: slideDown 160ms cubic-bezier(0.645, 0.045, 0.355, 1) 0ms 1 normal both;
}

header.smaller .container {
    padding: 0 200px;
    display: flex;
    top: 0;
    transform: translateY(0px);
}

header.smaller h1 {
    font-size: 18px;
    line-height: 60px;
    text-align: left;
    width: 50%;
}

header.smaller .button-container {
    margin-top: 0;
    width: 50%;
    text-align: right;
    vertical-align: middle;
    line-height: 60px;
}

header.smaller .button {
    width: 140px;
    height: 40px;
    line-height: 40px;
}

header.smaller .button.button-browse {
    display: none;
}

header.smaller .button.button-add {
    vertical-align: baseline;
}


/*
    ===========
    Browse Jobs
    ===========
*/
#browse {
    background-color: #FFFFFF;
    min-height: 100vh;
}

#browse .container {
    padding: 100px 200px;
}

.filter-container {
    text-align: right;
}

#browse li span {
    font-family: 'Open Sans', sans-serif;
}

#browse p {
    margin-top: 10px;
}


/*
    ======
    Footer
    ======
*/
footer {
    background-color: #F8E71C;
    height: 100px;
}

footer .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 200px;
}







/*
    ===================
    Keyframe Animations
    ===================
*/
@keyframes slideDown {
  from {
    transform: translateY(-60px);
  }

  to {
    transform: translateY(0px);
  }
}
.slide-down {
    animation: slideDown 160ms cubic-bezier(0.645, 0.045, 0.355, 1) 0ms 1 normal both;
}

@keyframes slideUp {
  from {
    transform: translateY(0px);
  }
  
  to {
    transform: translateY(-60px);
  }
}
.slide-up {
    animation: slideUp 160ms cubic-bezier(0.645, 0.045, 0.355, 1) 0ms 1 normal both!important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}
.fade-in {
    animation: fadeIn 160ms cubic-bezier(0.645, 0.045, 0.355, 1) 0ms 1 normal both!important;
}













form div {
    display: block;
    padding: 20px 0;
}
form label {
    display: block;
}