    <ul id="filters">
        <li class="filter-category dropdown closed">
            <div class="title">
                Design
            </div>

            <div class="dropdown-menu">
                <ul>
                    <li>All Industries</li>
                    <li>Advertising</li>
                    <li>Design</li>
                    <li>Fashion</li>
                    <li>Film</li>
                    <li>Marketing</li>
                    <li>Public Relations</li>
                    <li>Other</li>
                </ul>
            </div>
        </li>

        <li class="filter-job-title dropdown closed">
            <div class="title">
                Product Designer
            </div>

            <div class="dropdown-menu">
                <ul>
                    <li>All Job Roles</li>
                    <li>Advertising</li>
                    <li>Fashion</li>
                    <li>Film</li>
                    <li>Marketing</li>
                    <li>Public Relations</li>
                    <li>Other</li>
                </ul>
            </div>
        </li>

        <li class="filter-location dropdown closed">
            <div class="title">
                New York, NY
            </div>

            <div class="dropdown-menu">
                <ul>
                    <li>All Locations</li>
                    <li>Advertising</li>
                    <li>Fashion</li>
                    <li>Film</li>
                    <li>Marketing</li>
                    <li>Public Relations</li>
                    <li>Other</li>
                </ul>
            </div>
        </li>
    </ul>