<!-- jobs/templates/index.html -->

<!-- load static files -->
{% load static %}

{% include "_includes/header.html" %}

        <header>
            <div id="head">
                <div class="container">
                    <h1>JobsJobsJobs</h1>
                </div>
            </div>
            
            {% include "_includes/menu-filter.html" %}
        </header>

        <main id="browse">
            <div class="container">
                <div class="filter-container">
                    <div class="description">
                        <span>{% if jobs %}{{ jobs.count }}{% else %}0{% endif %}</span> Product Designer job{% if jobs %}{% if jobs.count > 1 %}s{% endif %}{% endif %} in New York
                    </div>

                    <div class="sort">
                        Most Recent
                    </div>
                </div>

                <ul>
                    {% if jobs %}
                    {% for job in jobs %}
                    <li id="">
                        <div class="job-logo">
                            <img src="{% if job.company.logo_url %}{{ job.company.logo_url }}{% else %}{% static 'images/logo-placeholder.png'%}{% endif %}">
                        </div>
                        <div class="job-title">
                            <h1>{{ job.title }}</h1>
                            <h2>{{ job.company.name }} — {{ job.city }}, {{ job.state }}</h2>
                        </div>
                        <div class="job-link">
                            <a href="/details/{{ job.pk }}" class="job-button">Details</a>
                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>

            </div>
        </main>

{% include "_includes/footer.html" %}